<a href="https://colab.research.google.com/github/sravanthi773/pandas/blob/main/pandas_DataFrame_concat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
d1=[[11,22],[33,44]]
d2=[[55,66],[77,88]]
c1=["A","B"]
df1=pd.DataFrame(d1,columns=c1)
df2=pd.DataFrame(d2,columns=c1)

print(df1)
print()
print(df2)

    A   B
0  11  22
1  33  44

    A   B
0  55  66
1  77  88

In [7]:
import pandas as pd
d1=[[11,22],[33,44]]
d2=[[55,66],[77,88]]
c1=["A","B"]
df1=pd.DataFrame(d1,columns=c1)
df2=pd.DataFrame(d2,columns=c1)

result=[df1,df2]
df3=pd.concat(result)

print(df1)
print()
print(df2)
print()
print(df3)

    A   B
0  11  22
1  33  44

    A   B
0  55  66
1  77  88

    A   B
0  11  22
1  33  44
0  55  66
1  77  88

In [8]:
import pandas as pd
d1=[[11,22],[33,44]]
d2=[[55,66],[77,88]]
c1=["A","B"]
df1=pd.DataFrame(d1,columns=c1)
df2=pd.DataFrame(d2,columns=c1)

result=[df1,df2]
df3=pd.concat(result,ignore_index=True)

print(df1)
print()
print(df2)
print()
print(df3)

    A   B
0  11  22
1  33  44

    A   B
0  55  66
1  77  88

    A   B
0  11  22
1  33  44
2  55  66
3  77  88

In [9]:
import pandas as pd
d1=[[11,22],[33,44]]
d2=[[55,66],[77,88],[67,89]]
c1=["A","B"]
df1=pd.DataFrame(d1,columns=c1)
df2=pd.DataFrame(d2,columns=c1)

result=[df1,df2]
df3=pd.concat(result)

print(df1)
print()
print(df2)
print()
print(df3)

    A   B
0  11  22
1  33  44

    A   B
0  55  66
1  77  88
2  67  89

    A   B
0  11  22
1  33  44
0  55  66
1  77  88
2  67  89

In [10]:
import pandas as pd
d1=[[11,22],[33,44]]
d2=[[55,66],[77,88],[67,89]]
c1=["A","B"]
df1=pd.DataFrame(d1,columns=c1)
df2=pd.DataFrame(d2,columns=c1)
result=[df1,df2]
df3=pd.concat(result,ignore_index=True)

print(df1)
print()
print(df2)
print()
print(df3)

    A   B
0  11  22
1  33  44

    A   B
0  55  66
1  77  88
2  67  89

    A   B
0  11  22
1  33  44
2  55  66
3  77  88
4  67  89

In [12]:
import pandas as pd
d1=[[11,22],[33,44]]
d2=[[55,66],[77,88],[67,89]]
c1=["A","B"]
c2=["x","y"]
df1=pd.DataFrame(d1,columns=c1)
df2=pd.DataFrame(d2,columns=c2)

print(df1)
print()
print(df2)

    A   B
0  11  22
1  33  44

    x   y
0  55  66
1  77  88
2  67  89

In [15]:
import pandas as pd
d1=[[11,22],[33,44]]
d2=[[55,66],[77,88]]
c1=["A","B"]
c2=["x","y"]
df1=pd.DataFrame(d1,columns=c1)
df2=pd.DataFrame(d2,columns=c2)
result=[df1,df2]
df3=pd.concat(result,axis=1)

print(df1)
print()
print(df2)
print()
print(df3)

    A   B
0  11  22
1  33  44

    x   y
0  55  66
1  77  88

    A   B   x   y
0  11  22  55  66
1  33  44  77  88

In [16]:
import pandas as pd
d1=[[11,22],[33,44]]
d2=[[55,66],[77,88]]
c1=["A","B"]
c2=["x","y"]
df1=pd.DataFrame(d1,columns=c1)
df2=pd.DataFrame(d2,columns=c2)

print(df1)
print()
print(df2)

    A   B
0  11  22
1  33  44

    x   y
0  55  66
1  77  88

In [18]:
import pandas as pd
d1=[[11,22],[33,44]]
d2=[[55,66],[77,88],[67,89]]
c1=["A","B"]
c2=["x","y"]
df1=pd.DataFrame(d1,columns=c1)
df2=pd.DataFrame(d2,columns=c2)
result=[df1,df2]
df3=pd.concat(result,axis=1)

print(df1)
print()
print(df2)
print()
print(df3)

    A   B
0  11  22
1  33  44

    x   y
0  55  66
1  77  88
2  67  89

      A     B   x   y
0  11.0  22.0  55  66
1  33.0  44.0  77  88
2   NaN   NaN  67  89