<a href="https://colab.research.google.com/github/sravanthi773/pandas/blob/main/pandas_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
marks=[56,45,35,67,60]
s=pd.Series(marks)
print(s)
print(s.values)

0    56
1    45
2    35
3    67
4    60
dtype: int64
[56 45 35 67 60]

In [2]:
import pandas as pd
names=["sanju","anu","dhanu"]
s=pd.Series(names)
print(s)
print(s.values)

0    sanju
1      anu
2    dhanu
dtype: object
['sanju' 'anu' 'dhanu']

In [3]:
import pandas as pd
marks=[89,67,90,56,78]
s=pd.Series(marks)
print(s)
print(s.index)

0    89
1    67
2    90
3    56
4    78
dtype: int64
RangeIndex(start=0, stop=5, step=1)

In [5]:
import pandas as pd
marks=[89,90,78,96,79]
i=[11,13,16,18,14]
s=pd.Series(marks,index=i)
print(s)
print(s.index)

11    89
13    90
16    78
18    96
14    79
dtype: int64
Index([11, 13, 16, 18, 14], dtype='int64')

In [9]:
import pandas as pd
marks=[67,83,90,85,89]
i=['a','b','c','d','e']
s=pd.Series(marks,index=i)
print(s)
print(s.index)

a    67
b    83
c    90
d    85
e    89
dtype: int64
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [10]:
import pandas as pd
marks=[78,89,56,90,67]
s=pd.Series(marks)
print(s)
print(s.dtypes)

0    78
1    89
2    56
3    90
4    67
dtype: int64
int64

In [11]:
import pandas as pd
salaries=[1000.23,1100.45,8889.7,999.87]
s=pd.Series(salaries)
print(s)
print(s.dtypes)

0    1000.23
1    1100.45
2    8889.70
3     999.87
dtype: float64
float64

In [12]:
import pandas as pd
names=['sanju','janu','sathya','hasini','rani']
s=pd.Series(names)
print(s)
print(s.dtypes)

0     sanju
1      janu
2    sathya
3    hasini
4      rani
dtype: object
object

In [13]:
import pandas as pd
marks=[67,78,90,89,65,98]
s=pd.Series(marks)
print(s)
print(s.size)

0    67
1    78
2    90
3    89
4    65
5    98
dtype: int64
6